.desing
  зи30куь
    
  &__section-title
    font-family: Yeseva One
    margin-top: 10rem
.section-desing
  &__heading
    font-size: 1.428rem
    margin-bottom: 1rem
.design
  &__section-subtitle
    margin: 0 auto
    max-width: 53rem
    text-align: center
    font-size: 1.4rem
    margin-bottom: 3.25rem
    line-height: 1.93rem
    margin-top: 1.4rem
.card
  &__prise--tag
    padding: 1.24rem 5.9rem 1.24rem 2rem
