@media screen and ( min-width: 1200px )
  .hero
    &__content
      margin-left: 4.28rem
      &__button
        padding: 0rem 1.77rem
        font-size: 2.86rem
        font-weight: normal
        line-height: 135.84%
  .logo
    margin-left: -1.771rem
    letter-spacing: 0.029rem
  .nav
    margin-right: -3rem
    &__item
      margin-right: 2.65rem
  .contacts
    &__phone
      margin-right: 3.214rem
      padding-left: 1.642rem
    &__button
      margin-right: -6rem
@media screen and ( max-width: 1200px )
  .hero
    &__content
      max-width: 47.86rem
      margin-left: 4.28rem
  .logo
    margin-right: 1.7rem
  .nav
    display: none
  .contacts
    &__phone
      margin-right: 1.7rem
      color: $light
      text-decoration: none
@media screen and ( max-width: 991px )
  .logo
    margin-left: 1.7rem
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
@media screen and ( max-width: 760px )
  .row
    align-items: center !important
    flex-direction: column    
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
    .hero
    &__instagram
      display: none
    &__content
      margin-left: 0  
  .logo
    margin-left: 0

@media screen and ( max-width: 575px )
  .container
    width: 90%
  .hero
    &__scroll-down
      display: none
    &__title
      font-size: 1.65rem
      line-height: 130%
      max-width: 27.3rem
      margin-bottom: 1rem
    &__text
      line-height: 130%
      font-size: 1.29rem
      margin-bottom: 2.60rem
    &__button
      display: block
      min-width: 100%
      margin-bottom: 2rem
      padding: 0rem 1.77rem
      font-size: 0.93rem
      font-weight: normal
      line-height: 135%
      height: 3.643rem
      letter-spacing: 0.1px
  .logo
    font-size: 0.857rem
    letter-spacing: 0.036rem
