@media screen and ( min-width: 1200px )
  .hero
    &__content
      margin-left: 4.28rem
  .logo
    margin-right: 1rem
  .nav
    &__item
      margin-right: 2rem
  .contacts
    &__phone
      margin-right: 1.4rem
    &__button
      margin-right: -5rem
@media screen and ( max-width: 1200px )
  .hero
    &__content
      max-width: 47.86rem
      margin-left: 4.28rem
  .logo
    margin-right: 1.7rem
  .nav
    display: none
  .contacts
    &__phone
      margin-right: 1.7rem
      color: $light
      text-decoration: none
@media screen and ( max-width: 991px )
  .logo
    margin-left: 1.7rem
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
@media screen and ( max-width: 767px )
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0  
  .logo
    margin-left: 0
@media screen and ( max-width: 575px )
  .hero
    &__scroll-down
      display: none
    &__title
      font-size: 1.65rem
      line-height: 130%
      letter-spacing: 0.08rem
      max-width: 27.3rem
      margin-bottom: 1rem
    &__text
      line-height: 130%
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 100%
      margin-bottom: 1.8rem
  .logo
    margin-left: -1.5rem
